
* {

    margin: 0;
    padding: 0px;
}

main {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
}

input[type="number"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
    color: #333;
}

p {
    color: #333;
    margin-bottom: 5px;
}

span {
    font-weight: bold;
}

footer {
    background-color: #f3f4fa;
    padding: 20px;
    text-align: center; 
    color: #000000;
}

footer a {
    text-decoration: none;
    color: #0056b3;
}

